NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_TMDB_TOKEN="eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIzMTA1NTk5ZjgxMDMwNmJiNTMxMzBhZGE0ZDRhNmMyNiIsIm5iZiI6MTcyMzA2MjIyMy40NzQ0NDIsInN1YiI6IjU0MTI1MDRlMGUwYTI2NzMwYTAwMDU0NiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.j8ZXWnVTX6mwOQrjDmgdxJOB3WNWsa4Jq_O8KQvVkA8"
NEXT_PUBLIC_SITE_NAME="MovieKo"
NEXT_PUBLIC_WATCH_PROVIDER_PRIMARY_TEMPLATE=""
NEXT_PUBLIC_WATCH_PROVIDER_PRIMARY_LABEL=""
NEXT_PUBLIC_WATCH_PROVIDER_BACKUP_TEMPLATE=""
NEXT_PUBLIC_WATCH_PROVIDER_BACKUP_LABEL=""
 
